# Archivos de compilación
target/

# Dependencias de Maven (si estás usando Maven)
# Opcional, si estás usando otra herramienta de gestión de dependencias, ajusta esta línea
# Por ejemplo, si usas Gradle, puedes incluir `build/`
# Si estás descargando las dependencias manualmente, asegúrate de excluir el directorio correspondiente
# Por ejemplo, si usas lib/ para almacenar las dependencias, incluye lib/
lib/

# Archivos de configuración específicos de IDEs
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Eclipse
ByteMinds_s4/bin/
ByteMinds_s4/.settings/
ByteMinds_s4/.classpath
ByteMinds_s4/.project

# Caché y archivos temporales
*.cache
*.tmp
*.temp
temp/


# Eclipse
.classpath
.project
.settings/
.metadata/

#JAVA
.class